<div class="page">
	<top-bar></top-bar>
	<div class="page-content">

		<ui-view></ui-view>

		<footer>
			<div class="left">
				&copy; 2015-2016 Expotest
			</div>

			<nav class="center">
				<a href="#">О Компании</a>
				<a href="#">Контакты</a>
				<a href="#">Лицензионное соглашение</a>
			</nav>

			<div class="right">
				<a href=""><i class="fa fa-envelope fa-fw "></i></a>
				<a href=""><i class="fa fa-vk fa-fw "></i></a>
			</div>
		</footer>
	</div>

</div>
<expo-modal-manager></expo-modal-manager>
