<!DOCTYPE html>
<html ng-app="expotestdrive">
	<head>
		<base href=/>
		<meta charset=utf-8>
		<meta http-equiv=X-UA-Compatible content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<title>EXPOTESTDRIVE</title>

		<link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/icon/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/icon/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/manifest.json">
		<link rel="mask-icon" href="/icon/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<meta name=description content="">
		<meta name=format-detection content="telephone=no">
		<meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1" />
		<link rel="stylesheet" href="/build/style/front.css">
		<script src="https://unpkg.com/webfontloader@1.6.27"></script>
		<script type="text/javascript">
			WebFont.load({
				google: {
					families: [
						'PT Serif:400,700',
						'PT Sans:300,400,500,600,700',
						// 'Roboto:300,400,500,600,700',
						'Roboto:300,400,500,600,700:cyrillic',
					]
				}
			});
		</script>
	</head>
	<body>
		<%-body %>
		<script src="/libs/sails.io.js"></script>
		<script src="/build/front.bundle.js"></script>
	</body>
</html>
