$small-breakpoint: 1000px;
$middle-breakpoint: 1500px;

$logo-font: 'Open Sans', sans-serif;
$slider-head-font: 'Roboto', sans-serif;
$main-font: 'Roboto', sans-serif;
$header-font: 'PT Serif', serif;


$background-color: #FAFBFC;

$black-color: #10132e;
$green-color: #06ca55;
$blue-color: #3398ea;
$font-color: #4b4c5a;


$padding-bottom-page: 52px;
$footer-height: 78px;


$card-border-radius: 4px;
$card-border-color: #DADFE2;
$border-radius: $card-border-radius;


$input-border-color: #C3CBD0;
