body {
	background-color: $background-color;
}

body, input {
	font-family: $main-font;
}

h1, h2, h3, h4 {
	font-family: $header-font;
	color: #10132E;
}

h1 {
	font-size: 36px;
	margin-top: 2px;
	margin-bottom: 24px;
}

.right	{
	float: right;
}

.left	{
	float: left;
}

.center {
	width: 498px;
	margin: 0 auto;
}


a {
	color: #0091D5;
	outline: 0;

	&.active {
		color: #303030;
	}
}

p {
	margin-bottom: 30px;
}

.text-center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.bigger {
	font-size: 17px;
}


.offset {
	margin: 32px 40px;

	& + .separator {
		margin-top: -40px;
	}
}

.clear:after {
	content: "";
	display: table;
	clear: both;
}
