button, .button {

	user-select: none;
	-moz-user-select: none;

	position: relative;
	line-height: 48px;
	width: 100%;
	background-color: #c3cbd0;
	border: 1px solid #c3cbd0;
	padding: 0 30px;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	color: #fff;


	&:disabled {
		background-color: #c3cbd0;
		border: 1px solid #c3cbd0;
		color: #fff;
	}


	& + .help {
		position: relative;
		color: #c1c1c1;
		float: right;
		top: 17px;
		left: 12px;
	}


	&.mini {
		padding: 10px 10px 8px 10px;
		border-radius: 3px;

	}


	//
	// &::before {
	// 	content: '';
	// 	display: block;
	// 	opacity: 0;
	// 	position: absolute;
	// 	left: -1px;
	// 	right: -1px;
	// 	top: -1px;
	// 	bottom: -1px;
	//
	//
	// 	background-color: rgba(0, 0, 0, .2);
	// 	transform: scale(1, 0);
	// 	transition: all .2s;
	// }
	//
	& > span {
		z-index: 1;
		position: relative;
		display: inline-block;
		width: 100%;
		user-select: none;

	}



	&:hover {
		&::before {
			transform: scale(1, 1);
			opacity: 1;
			transition: all .2s;
		}
	}

	&.primary {
		background-color: #1885e4;
		color: #fff;
		border: 1px solid #1371c4;

		&:hover {
			background-color: #3398ea;
			border: 1px solid #3398ea;
			transition: all .3s;
		}
	}

	&.blue {
		background-color: #0091d5;
		color: #fff;
		border: 1px solid #0091d5;
		transition: all .3s;

		&:hover {
			background-color: #3398ea;
			border: 1px solid #3398ea;
			transition: all .3s;
		}

	}

	&.green {
		background-color: #06ca55;
		color: #fff;
		border: 1px solid #06ca55;
		transition: all .3s;

		&:hover {
			background-color: #38d577;
			border: 1px solid #38d577;
			transition: all .3s;
		}
	}


	&.inline {
		display: inline-block;
		width: auto;

		& + & {
			margin-left: 17px;
		}
	}



	&.select {

		border-color: #727882;
		background-color: transparent;
		color: #8a909a;

		&.active {
			border-color: #0091d5;
			color: #242424;
		}
	}

	&.text {

		border-color: transparent;
		background-color: transparent;

		&.blue {

			color: $blue-color;

			&:hover {
				border-color: transparent;
				background-color: transparent;
			}
		}

		&.green {

			color: $green-color;

			&:hover {
				border-color: transparent;
				background-color: transparent;
			}
		}
	}

	&.outline {

		background-color: transparent;
		color: #9A9FA8;

		transition: all .3s;
		&:hover {
			transition: all .3s;
		}

		.sup {
			transition: all .3s;
			&:hover {
				transition: all .3s;
			}
		}


		&.blue {

			// &::before {
			// 	background-color: #0091D5;
			// }

			&:hover {
				color: $blue-color;
				background-color: transparent;
			}

			.sup {
				&:hover {
					color: $blue-color;
				}
			}
		}

		&.green {
			// &::before {
			// 	background-color: #2CAE2C;
			// }

			&:hover {
				color: $green-color;
				background-color: transparent;
			}

			.sup {
				&:hover {
					color: $green-color;
				}
			}
		}
	}


	&.vk {
		border-color: #517398;
		background-color: #517398;
		color: #fff;
	}

	&.fb {
		border-color: #3C5B97;
		background-color: #3C5B97;
		color: #fff;
	}
}

.two-buttons {

	.button {
		&:first-child {
			margin-right: 18px;
		}

		font-size: 20pt;
		width: 137px;
	}
}

.circle-button {

	border: 1px solid #CAD1D6;
	width: 44px;
	height: 44px;
	text-align: center;
	line-height: 44px;
	border-radius: 44px;

	color: #CAD1D6;
	display: inline-block;
	font-size: 18px;
	-moz-user-select: none;
	user-select: none;
}

.separator {

	line-height: 50px;
	height: 50px;

	position: relative;
	text-align: center;

	color: #8A909A;

	&::before {
		display: block;
		content: '';
		border-top: 1px solid #D8D8D8;
		position: absolute;
		top: 25px;
		width: 100%;
	}

	margin: 14px 0;

	.label	{
		display: inline-block;
		padding: 0 10px;
		position: relative;
		z-index: 1;
		background-color: #fff;
		font-size: 17px;
		user-select: none;
		-moz-user-select: none;

	}

	& + .offset {
		margin-top: 0;
	}
}

.slide-button {

	@extend .button.green;
	@extend .button.mini;
	user-select: none;
	position: relative;
	display: inline-block;
	cursor: pointer;

	vertical-align: middle;


	// &::before {
	// 	content: '';
	// 	display: block;
	// 	opacity: 0;
	// 	position: absolute;
	// 	left: -1px;
	// 	right: -1px;
	// 	top: -1px;
	// 	bottom: -1px;
	//
	//
	// 	// background-color: rgba(0, 0, 0, .2);
	// 	// transform: scale(1, 0);
	// 	// transition: all .2s;
	// }

	& > span {
		z-index: 1;
		position: relative;
		display: inline-block;
		width: 100%;
	}

	// &:hover {
	// 	&::before {
	// 		transform: scale(1, 1);
	// 		opacity: 1;
	// 		transition: all .2s;
	// 	}
	// }

	img, .fa {
		// margin-right: -4px;
		float: left;
	}

	.label {
		// width: auto;
		color: white;
		position: relative;
		// top: -2px;
		margin-left: 0;
		display: inline-block;

		overflow: hidden;
		visibility: hidden;

		width: auto;
		height: 18px;
		float: left;


		// max-width: 0;
		// transition: max-width .3s;

		max-width: 0;
		transition: all .2s;



		&::first-letter {
			text-transform: uppercase;
		}
	}

	&:hover {

		.label {
			// max-width: 100%;

			margin: 0 10px;
			max-width: 300px;
			visibility: visible;
			transition:  all .2s;
		}
	}
}


.actions {

	.button + .button {
		&.inline {
			margin: 0;
		}
	}

	.button {

		margin: 0;
		float: left;
	}

}
