@import "media-queries";

.masonry-layout {

	// -moz-column-count: 3;
	// column-count: 3;
	// -moz-column-gap: 30px;
	// column-gap: 30px;

	// width: 360px;

	@include mq($min-width: $middle-breakpoint) {
		// width: 300px;

		// 		-moz-column-count: 4;
		// 		column-count: 4;
		// 		-moz-column-gap: 32px;
		// 		column-gap: 32px;
	}


	.card {

		width: 298px;
		// height: 518px;

		@include mq($min-width: $middle-breakpoint) {
			width: 358px;
		}


		margin-bottom: 25px;
		color: #515260;
		cursor: pointer;
		// -webkit-column-break-inside: avoid;
		// page-break-inside: avoid;
		// break-inside: avoid;
	}

}

.offset-side {
	margin-left: 20px;
	margin-right: 20px;
}

.offset-vertical {
	margin-top: 20px;
	margin-bottom: 20px;
}

.offset-card {
	@extend .offset-side;
	@extend .offset-vertical;
}


#create-testdrive {

	display: inline-block;
	position: relative;
	text-align: center;

	.offset {
		padding: 123px 13px 19px;
	}

	img {
		position: absolute;
		left: 50%;
		top: 62px;
		margin-left: -30px;
	}

	button, .button {
		font-size: 17px;
		width: 100%;
		padding: 0;
	}

	&::before {
		content: '';
		border: dashed 1px #d8dde0;
		position: absolute;
		left: 10px;
		right: 10px;
		top: 10px;
		bottom: 10px;
		display: block;
	}

	.offset {
		margin: 32px 11px;
	}

	@include mq($min-width: $middle-breakpoint) {
		.offset {
			margin: 32px 40px;
		}
	}
}



.card {

	border: 1px solid $card-border-color;
	background: #fff;
	border-radius: $card-border-radius;
	min-height: 50px;

	.card-list & {
		overflow: hidden;

	}

	position: relative;

	.location {
		font-size: 12px;
	}

	.exhibition-title {
		margin-top: -5px;
		font-size: 11px;

		strong {
			font-weight: 500;
		}
	}

	.slide-button {
		position: absolute;
		// background: #2CAE2C;
		right: 9px;
		bottom: 12px;
	}

	.cover {
		max-width: 100%;
		position: relative;

		height: 180px;
		overflow: hidden;

		& > img {
			min-width: 100%;
			height: auto;
		}

		// margin-bottom: 35px;
	}

	.title {

		padding: 0;
		margin: 0;
		font-size: 22px;
		font-weight: bold;
		margin: 28px 0 14px;
		line-height: 25px;
		transition: color .3s;
		// font-family: $main-font;
		font-family: $header-font;

		&:hover {
			color: $green-color;
			transition: color .3s;

		}
	}

	.content {
		font-size: 15px;
		line-height: 26px;
		margin-bottom: 30px;
		margin-top: 32px;
		min-height: 140px;
	}

	.icons {

		@extend .offset-card;
		position: absolute;;
		left: 0;
		right: 0;
		bottom: 0;
		// margin-bottom: 32px;

		span {
			margin-right: 24px;
		}

		img {
			height: 16px;
			position: relative;
			top: 2px;
			margin-right: 5px;
		}

		font-size: 10px;
	}

	h1,  .header {
		font-weight: 300;
		margin: 0 0 35px;
		padding: 0;
		color: $black-color;
		font-family: $main-font;

	}
}


.mini-offset {
	margin: 15px 25px 27px;
}
