.color {
	&.dark , .dark {
		background-color: #315aa2;
	}

	&.normal, .normal {
		background-color: #71c8ed;
	}

	&.light, .light {
		background-color: #def1f8;
	}

	&.gray, .gray {
		background-color: $background-color;
	}
}
