.cover {
	position: relative;
	.delete {
		position: absolute;
		right: 10px;
		top: 10px;
		color: #fff;
	}
}


expo-slider {

	height: 600px;
	display: block;
	background-color: silver;
	margin-top: -54px;
	margin-bottom: 24px;
	text-align: center;
	overflow: hidden;
	overflow-y: hidden;
	position: relative;

	.edit-slider {
		position: absolute;
		z-index: 10;
		top: 50px;
		width: 100%;
	}

	.arrow  {

		user-select: none;

		position: absolute;
		color: #fff;
		z-index: 10;
		cursor: pointer;
		opacity: 1;
		height: 100%;
		width: 150px;

		// &:hover {
		// 	opacity: 1;
		//
		// }

		svg {

			position: relative;
			top: 236px;
			height: 106px;

			path {
				color: #FFFFFF;
				fill: #FFFFFF;
				// color: #F7F5F2;
				// fill: #F7F5F2;
			}
		}

		&.left-arrow {
			left: 0px;
		}

		&.right-arrow {
			right: 0px;
		}
	}

	.slide {

		opacity: 0;
		visibility: hidden;
		height: 0;
		width: 0;
		position: absolute;

		transition: opacity 1s;
		font-size: 18px;


		&.active {
			visibility: visible;
			opacity: 1;

			position: static;
			width: 100%;
			height: auto;

			transition: opacity 1s;


			.content {
				visibility: visible;
				opacity: 1;
			}
		}

		.content {
			position: absolute;
			top: 139px;
			left: 0;
			right: 0;
			z-index: 2;

			opacity: 0;
			visibility: hidden;


			p {
				width: 520px;
				margin: 0 auto;
				line-height: 26px;
				text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
				
			}
		}

		color: #fff;

		img {
			position: absolute;
			left: 0;
			right: 0;
			height: 100%;
			width: auto;
		}


		h1, .header {
			color: #fff;
			font-weight: 300;
			font-size: 55px;
			margin-bottom: 25px;
			line-height: 60px;
			letter-spacing: 1px;
			font-family: $slider-head-font;
			text-shadow: 1px 1px rgba(0, 0, 0, 0.2);

		}

		.button {
			margin-top: 28px;
			padding: 0 23px;
		}

	}

	.dots {
		position: absolute;
		left: 0;
		right: 0;
		top: 486px;

		text-align: center;

		z-index: 5;

		.dot {

			&:before {
				content: '\00B7';
				display: inline;
			}

			display: inline;
			font-weight: bold;
			font-size: 47px;
			color: #fff;
			margin-right: 0px;

			&:last-child {
				margin-right: 0;
			}

			opacity: 0.5;

			&.active {
				opacity: 1;
			}

			&:hover {
				opacity: 0.7;
			}

			cursor: pointer;

		}
	}
}
