
#create-offer-form {

	$form-font-size: 18px;

	.field, .jq-selectbox__select-text, & {
		font-size: $form-font-size;
	}

	.expo-tabs {
		position: relative;
		top: 24px;
		.head {
			line-height: 25px;
			font-size: 10px;
		}
	}



	& .header {
		margin-bottom: 23px;
		.additional {
			margin-left: 49px;
		}
	}

	.four.column {
		margin-top: -1px;
		font-size: 16px;
		margin-bottom: 14px;
	}

	#field-interested {
		margin-bottom: 41px;
	}


	.additional-field {
		width: 236px;
		& + .button {
			padding: 0;
			margin-left: 5px;
			width: 48px;
			float: right;
		}
	}

	#field-cover {

		height: 492px;
		text-align: center;
		position: relative;

		.placeholder {
			margin-top: 195px;
		}

		img {
			margin-bottom: -6px;
		}
	}



	.page-columns {

		.right {

			margin-left: 27px;
			width: 298px;

			.field, input {
				margin-bottom: 25px;
			}


			&.fa {
				float: right;
				width: auto;
				margin: 0;
			}

			.additional-fields-list {
				margin-bottom: 0;
			}

		}

	}

	label {
		color: #10132e;
		font-size: 16px;
		font-weight: normal;
		line-height: 25px;
		margin-bottom: 14px;
	}

	#field-cost {
		margin-bottom: 40px;
	}


	.second_area {
		margin-top: 16px;
	}

	#description-field {
		height: 92px;
	    margin-bottom: 25px;
		width: 593px;
	}

	.button.subject {
		margin-left: 0;
		margin-right: 17px;
		margin-bottom: 17px;
	}


}



#registration-form {

	.select + .select {
		padding: 0 41px;
		margin-left: 18px;
	}

	.select ~ .help {
		top: -34px;
		left: 24px;
		font-size: 17px;
	}

	.primary {
		margin-top: 32px;
		margin-bottom: 35px;
	}

	.checkbox {
		margin-top: 8px;
		margin-bottom: -30px;
	}


	position: relative;
}


form {


	.header {

		font-weight: 100;
		font-family: $main-font;

		line-height: 50px;
		font-size: 12px;
		margin-bottom: 21px;


		h1, h2, h3, h4 {
			color: #10132e;
			font-weight: 100;
			font-family: "Roboto", sans-serif;
			display: inline-block;
			padding: 0;
			letter-spacing: 0.58px;
			margin: 0;
		    line-height: 50px;
		}

		h1 {
			font-size: 25px;
		}

		.additional {
			display: inline-block;
			margin-left: 47px;
			border-left: 1px solid #c3cbd0;
			position: relative;
			top: -4px;
			padding-left: 19px;
			font-size: 18px;
		}

		.expo-tabs {

			.head {
				border-bottom: none;
				line-height: 33px;

				a {
					border-bottom: 2px solid #c1c1c1;
					position: relative;
					top: 7px;
					width: 80px;
					text-align: center;
					font-weight: 400;
					font-size: 16px;
					margin: 0 0 0 15px;

					&.active {
						border-bottom-color: #0091d5;
					}
				}
			}
		}
	}
}
