
$small-container-width: 960px;
$big-column-width: 633px;
$gutter-width: 81px;
$small-column-width: $small-container-width - $big-column-width - $gutter-width;


.page-columns {


	.cover	{
		width: 100%;
		img {
			width: 100%;
		}

		margin-bottom: 35px;
	}

	.left {
		float: left;
		width: $big-column-width;
	}

	.right {
		float: left;
		margin-left: $gutter-width;
		width: $small-column-width;
	}

	@extend .clear;
}


.region {
	padding-bottom: 50px;
	padding-top: 50px;

	.container {
		padding-bottom: 0;
	}

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		margin-bottom: -55px;
	}

	&.white {
		background-color: #fff;
	}
}




.event-page {

	color: #353535;

	h1, h2, h3, h4 {
		color: #353535;
	}


	.expo-tabs {

		a {
			font-size: 14px;
		}

	}


	&.container,  & .container {
		width: $small-container-width;
	}



	.details {

		color: #040823;

		.label {
			color: #9ea3ab;
		}
		.button {
			position: relative;
			margin-bottom: 34px;
			padding: 1px 0;
			font-size: 18px;
			font-weight: 400;
			width: 243px;
			text-indent: 4px;

			.label {
				color: #fff;
			}

			img {
				position: absolute;
				left: 49px;
				    top: 14px;
			}

		}



		.icons {
			color: #353535;
			font-size: 34px;
			position: relative;
			top: -5px;
			margin-bottom: 49px;
			font-weight: 400;



			img {

				height: 26px;
				position: relative;
				top: 1px;
			}

			.label {
				color: #8a909a;
				font-size: 14px;
				margin-bottom: 23px;
				position: relative;
				top: -2px;
				font-weight: 500;
			}
		}

		font-size: 14px;
		font-weight: 200;

		.exposition {
			strong {
				display: block;
				margin-bottom: 60px;
				font-weight: 500;
				margin-top: 10px;
			}
		}

		.conditions {

			.label {
				margin-bottom: 22px;
			}

			.condition {
				font-weight: 400;
				margin-top: 15px;
				font-size: 12px;

				&:first-child {
					margin-top: 0;
				}
			}
		}
	}

	.info {

		color: #80809e;
		margin-bottom: 42px	;
		font-weight: 100;

		.fa-clock-o {
			position: relative;
			top: 3px;
		}

		address {
			font-style: normal;
			display: inline-block;
			margin-right: 32px;
			font-weight: normal;
		}

		time {
			font-weight: normal;
			margin-right: 68px;
		}

		strong {
			font-weight: 500;
		}
	}




	.description {
		margin-bottom: 35px;
		color: #353535;
	}

	.directions {

		color: #8a909a;
		margin-top: -10px;
		line-height: 70px;
		font-size: 18px;

		.button.inline + .button.inline {
			margin-left: 0;
		}

		.button {

			margin-right: 10px;

			&:first-child {
				margin-left: 20px;
			}

			&:last-child {
				margin-right: 0px;
			}

			margin-right: 17px;
		}

		line-height: 70px;
	}

	.expo-tabs {
		.head a {
			padding: 0 1px 7px;
			margin: 0 19px;


			&:first-child {
				margin: 0;
			}
		}
	}

}
