

label {
	cursor: pointer;
	font-weight: 300;
	display: inline-block;
	margin-bottom: 5px;
}

.checkbox {
	position: relative;

	.styled-checkbox {
		float: left;
		position: relative;
		margin-top: 3px;
	}

	label {
		cursor: pointer;
		margin-left: 32px;
		display: block;
		font-weight: normal;
		color: #000;
		line-height: 24px;
	}
}


@mixin placeholder {
	::-webkit-input-placeholder {@content}
	:-moz-placeholder           {@content}
	::-moz-placeholder          {@content}
	:-ms-input-placeholder      {@content}
}


$input-bottom-padding: 18px;


.error {
	& + .message,
	& + .append + .message,
	& .message,
	& + field-error .message ,
	& + .append + field-error .message {
		color: #fe4202;
	}
}

.message, field-error {
	font-size: 14px;
}

.input, input, textarea {

	& + .append {
		display: inline-block;
		font-size: 10px;
		background: #FAFBFC;
		padding: 5px;
		border-radius: 2px;
		float: right;
		top: -56px;
		position: relative;
		right: 7px;
		border: solid 1px rgba(0, 0, 0, 0.2);
		margin-bottom: -22px;
	}

	.placeholder {
		color: #8A909A;
	}

	border: 1px solid $input-border-color;
	background: #fff;
	border-radius: $border-radius;
	line-height: 48px;
	min-height: 48px;
	width: 100%;

	transition: all .3s;

	&.half {
		width: 50%;
	}

	& + .message, & + field-error .message {
		text-align: right;
		position: relative;
		top: -12px;
		margin-bottom: 15px;
	}

	margin-bottom: $input-bottom-padding;
	text-indent: 18px;

	color: #3d3d3d;

	&.error, &.error:focus {
		border-color: #fe4202;
		box-shadow: 0 0 0 transparent;
		transition: all .3s;

	}

	&:focus {
		outline: none;
		border-color: #bde2f2;
		box-shadow: 0 0 2px #bde2f2;
		transition: all .3s;

	}

	& +  .captcha {
		position: relative;
		top: 15px;
	    margin-top: -30px;
	}
}

textarea {
	text-indent: 0;
	padding: 18px;
	line-height: 22px;
}


@include placeholder {
	color: #8A909A;
}

.placeholder {
	color: #8A909A;
	user-select: none;

}

.field {




	display: block;
	// height: 20px;
	// margin-bottom: 16px;
	padding: 11px 0;
	margin-top: -13px;
	line-height: 24px;

	// min-height: 52px;
	// line-height: 48px;

	color: $black-color;

	a {
		text-decoration: none;
	}

	.message {
		text-align: right;
	}

	&.column {
		&.four {

			$column-gutters-size: 5%;


			.field {
				width: (100% - $column-gutters-size) / 4;
				display: inline-block;
				float: left;
				margin-right: $column-gutters-size / 3;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		@extend .clear;
	}
}

.fa.sup {
	font-size: 10px;
	top: 5px;
	position: absolute;
	right: -20px;
	color: #d8d8d8;
}


.jq-checkbox {

	width: 20px;
	height: 20px;
	&.checked  .jq-checkbox__div {
		width: 10px;
		height: 10px;
		margin: 5px 0 0 5px;
		background: $blue-color;
	}
}



.normal-select {


	.jq-selectbox__select {
	}


	&.jq-selectbox {
		border: 1px solid #c3cbd0;
		border-radius: 5px;
		background-color: #fff;

		&.opened {
			border-radius: 5px 5px 0 0;
		}

	}

	.jq-selectbox__select-text, .placeholder {
		color: #3d3d3d;
		padding-left: 17px;

	}


	.jq-selectbox__trigger-arrow {
		// top: 23px;
	}

	.jq-selectbox__dropdown {
		left: -1px;
	}
}


.jq-selectbox__trigger-arrow {
	position: absolute;
	top: 23px;
	right: 12px;
	width: 9px;
	height: 6px;
	overflow: hidden;
	background-image: url('/icon/arrow_down.png');

	.opened & {
		background-image: url('/icon/arrow_up.png');
	}

}


.jq-selectbox {

	user-select: none;

	border-bottom: 2px solid #0091D5;
	color: #2EA5DD;
	font-size: 15px;
	width: 100%;
	// margin-right: 20px;

	margin-bottom: $input-bottom-padding;

	color: #3d3d3d;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		min-height: 18px;
		padding: 0 0 0 17px;
		color: #231F20;
		line-height: 52px;
		font-size: 16px;

	}

	li:hover {
		background-color: #3398ea;
		color: #fff;
	}


	.jq-selectbox__trigger {
		border-left: none;
	}


}

.jq-selectbox__select-text {
	color: #0091d5;

	&.placeholder {
		color: #8A909A;
	}
}


.jq-selectbox__dropdown {
	visibility: hidden;
	transition: visibility .3s, border-radius 12s, max-height .3s, opacity .2s;
	overflow: hidden;
	max-height: 0;
	opacity: 0;

	position: absolute;

	ul {
		position: relative;
		list-style: none;
		overflow: auto;
		overflow-x: hidden
	}

	.opened & {
		visibility: visible;
		transition: visibility 0s, max-height .3s, border-radius 0s, opacity .2s;
		max-height: 500px;
		opacity: 1;

	}

	z-index: 10;

	background: white;
	border: 1px solid #c3cbd0;
	font-size: 15px;
	margin-top: 50px;
	width: 100%;
	border-radius: 0 0 5px 5px;
	top: 0;

	.selected {

		padding: 0px 20px;
		&:hover {
			background: #0091d5;
			color: #fff;
		}
	}
}


.jq-selectbox__select {
	height: 50px;
	line-height: 50px;
	position: relative;
}


.pointer {
	cursor: pointer;
}


input-map {
	.map {
		width: 960px;
		min-height: 600px;
	}
}

button, input, optgroup, select, textarea {
	font-family: $main-font;
}


.dropzone{
	// @extend input;

	display: inline-block;
	cursor: pointer;
	overflow: hidden;
	position: relative;



	input {
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		// visibility: hidden;

	}

	.placeholder {
		position: relative;
		.icon {

			display: inline-block;
			width: 51px;
			border-left: solid 1px #C3CBD0;
			position: absolute;
			right: 0;
			top: 3px;
			bottom: 3px;

			img {
				position: relative;
				top: 0px;
				right: 2px;
			}
		}
	}


}


//TINY MCE

.mce-panel {
	border: none;
	background-color: #fff;
	// border-bottom: 1px solid #C3CBD0;
}

.mce-menu {
	border-bottom: solid 1px #C3CBD0;
	border-left: solid 1px #C3CBD0;
	border-right: solid 1px #C3CBD0;
	border-radius: 0 0 5px 5px;
	margin: 1px -1px 0;

	&.mce-menu-sub {
		padding: 0;
		border: solid 1px #C3CBD0;
		border-radius: 5px;
	}
}

.mce-toolbar-grp {
	border-bottom: solid 1px #C3CBD0;
	border-bottom: none;

	.mce-flow-layout-item {
		margin: 0;
		padding: 0;
	}


	padding: 0;
	// background-color: #f0f0f0;
}

.mce-btn-group {
	padding: 0;
	background-color: #fff;
	margin: 0;

	.mce-btn {
		margin: 0;
	}
}

.mce-tinymce.mce-container {
	// box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	border: 1px solid #C3CBD0;
	border-radius: 4px;
	overflow: hidden;

}

.mce-flow-layout-item {
	margin: 0 5px 0 0;
}

.mce-menubtn button,
.mce-btn {

	// .mce-caret {
	// 	border-top-color: #fff;
	// }



	border: none;
	background-color: transparent;
	&:hover {
		border-color: transparent;
		background-color: #0091D5;
		color: #fff;


		.mce-caret {
			border-top-color: #fff;
		}


		.mce-ico {
			color: #fff;
		}
	}
}


.moment-picker {
	user-select: none;
	.moment-picker-container {
		border: solid 1px #c3cbd0;
		box-shadow: none;
		&:before {
			top: -9px;
			left: 16px;
			border-width: 8px;
			border-bottom-color: #c3cbd0;
		}

		&:after {}
	}
}
