
* {
	margin: 0;
}

html, body {}

body {
	min-height: 100%;
	min-height: 100vh;
	color: $font-color;
}

.page {

	position: absolute;
	left: 0;
	top: 0;
	width: 100%;

	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	// margin: 0 auto -78px; /* the bottom margin is the negative value of the footer's height */
	// margin-bottom: -133px;
	// padding-bottom: 78px;

	.page-content {
		padding-top: 55px;

		padding-bottom: $footer-height + $padding-bottom-page;
		// padding-bottom: $footer-height;
		// position: absolute;
		// height: 100%;
		// width: 100%;
		// padding-bottom: 78px;
		// min-height: 100%;
		// height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
		// height: 100%;
		// margin: 0 auto -78px; /* the bottom margin is the negative value of the footer's height */

	}
}


footer {

	height: 26px;
	padding: 33px 50px;

	z-index: 3;
	position: absolute;
	color: #fff;

	box-sizing: border-box;

	bottom: 0;
	width: 100%;
	left: 0;
	right: 0;

	margin-top: -26px;
	height: 78px;

	a {
		color: #fff;
		text-decoration: none;
		margin-right: 10px;
		&::last-child {
			margin-right: 0;
		}
	}
	background-color: #121631;
	display: block;

	.right {
		    margin-top: -18px;
	}
}
