
$blur: 4px;

.blur {

	border: 1px solid black;

	filter: blur($blur);
	-webkit-filter: blur($blur);
	-moz-filter: blur($blur);
	-o-filter: blur($blur);
	-ms-filter: blur($blur);

	&::before {
		content: '';
		display: block;
		position: fixed;
		background-color: rgba(0, 0, 0, 0.6);
		left: -100px;
		right: -100px;
		bottom: -100px;
		top: -100px;
		z-index: 15;
		pointer-events: none;
	}

	&.page-content {
		overflow: hidden;
		height: 100%;
		position: absolute;
		left: 0;
		top: 102px;
		right: 0;
		z-index: -1;
		width: 100%;
		// position: relative;
		&::before {
			position: absolute;
			// top: 102px;
		}
	}
}

body[data-active-modal] {
	// transition: all .3s;
	// margin: -1px;
	// -webkit-transform: scale(1.01);
	overflow: hidden;
	.page {
		@extend .blur;
		// border: 3px solid #000;
		// transform: translateZ(10px);
		// transition: filter .3s;
		// -webkit-transform: translate3d(0, 0, 0);
	}

	expo-modal-manager{

		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display: block;
		overflow: auto;

		.background {
			display: block;
			position: fixed;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			height: 100%;
			width: 100%;
			cursor: pointer;
			z-index: 5;

			overflow: auto;
		}
	}

	.modal.selected {
		left: 50%;
		top: 70px;
		width: 800px;
		margin-left: -400px;
		background-color: #fff;
		z-index: 20;
		height: auto;
		opacity: 1;
		visibility: visible;
		// transition: opacity .3s, height .3s, top .3s, visibility .1s;
	}
}


#slider-editor {
	user-select: none;

	.cover {
		min-height: 130px;
		background-color: silver;
	}
}

.modal-source {
	display: none;
}

.modal {

	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	// transition: visibility 1s, opacity .5s, height .5s, top .5s;
	display: block;

	.close {
		position: absolute;
		right: 20px;
		top: 20px;
		display: inline-block;
		cursor: pointer;
		text-decoration: none;
		color: #D8D8D8;
	}


	.footer {
		background-color: #FAFBFC;
		border-top: solid 1px #DADFE2;
		padding: 25px;
		&::after {
			content: "";
			display: table;
			clear: both;
		}
	}

	.content {
		margin: 40px 40px 30px;

		& + div > .content {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	h1, .header {
		font-weight: 300;
		margin: 0 0 35px;
		padding: 0;
		font-size: 1.6em;
		color: $black-color;
		font-family: $main-font;
	}

}


#exposition-selector {
	a {
		text-decoration: none;
	}
}


.expo-filter-main {
	select {
		border: 0;
		padding: 0;

	}
}

#exposition-selector,
#subject-selector {

	label {
		 user-select: none;
	}

	.catalog {

		&:after {
			content: "";
			display: table;
			clear: both;
		}

		ul {
			padding: 0;
			margin: 0;
		}

		li {
			list-style: none;
			margin: 0;
			padding: 0;
			margin-bottom: 5px;
		}

		.jq-checkbox  {
			margin-right: 10px;
		}

		.letter {
			text-transform: uppercase;
			font-size: 1.8em;
			color: #38B338;
			margin-bottom: 20px;
		}

		br {
			clear: both;
			float: left;
		}

		.section {

			display: inline-block;
			float: left;
			width: 50%;
			vertical-align: top;
			margin-bottom: 40px;

			// &:nth-child(2n) {
			// 	clear: right;
			// }
		}
	}
}



#expo-filter-input {
	width: 510px;
	margin-right: 65px;
}
