.expo-tabs {

	.tab {

		margin-top: 20px;

		overflow: hidden;
		max-height: 0;
		visibility: hidden;

		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		transition: opacity .3s;
		height: 0;

		&.active {
			max-height: 1000px;
			overflow: visible;
			visibility: visible;
			transition: opacity .3s;
			position: relative;
			opacity: 1;
			height: auto;
		}

	}

	.head {

		border-bottom: solid 1px #eaeff2;
		line-height: 36px;

		a {
			display: inline-block;
			text-decoration: none;
			position: relative;
			bottom: -2px;

			color: #8a909a;

			&:hover {
				color: #0091d5;
			}

			padding: 0 8px;
			border-bottom: solid 2px transparent;

			transition: all .2s;

			&.active {
				border-bottom: solid 2px #0091d5;
				transition: all .2s;
				color: #1b1e38;
			}
		}
	}
}
