
.tag {
	font-weight: normal;
	color: #C6C6C6;
	border: 1px solid #C6C6C6;
	padding: 5px 10px;
	display: inline-block;
	text-decoration: none;
	border-radius: 2px;
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;

	margin-right: 5px;
	margin-bottom: 5px;
}
