$chunk-size: 16px;
$menu-transition: opacity .5s;

.notification-counter {
	width: 16px;
	height: 16px;
	border-radius: 16px;
	position: absolute;
	color: #fff;
	right: -22px;
	top: 10px;
	font-size: 9px;
	line-height: 16px;
	text-align: center;
	font-weight: 600;
	background-color: #c1c1c1;

	&.insistent {
		background-color: #0091d5;
	}
}

top-bar {

	height: 50px;
	padding: 26px 50px;
	display: block;
	background-color: white;
	color: #303030;

	nav {

		line-height: 52px;
		font-size: 16px;

		a {
			text-decoration: none;
			display: inline-block;
			margin-left: 28px;
		}
	}

	.user-nav {

		position: relative;
		margin-left: 100px;

		&:hover {
			color: #8d939c;
			cursor: pointer;


		}

		.help {
			position: absolute;
			right: -22px;
			top: 10px;
			font-size: 19px;
		}

		.menu {

			transition:  $menu-transition;

			visibility: hidden;
			overflow: hidden;
			opacity: 0;
			max-height: 0;

			position: absolute;
			background-color: #fff;
			width: 282px;
			// border: 1px solid #dadfe2;
			z-index: 20;

			box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

			border-radius: 5px;
			right: -14px;
			top: 49px;

			a {
				display: block;
				font-size: 14px;
				color: #4b4c5a;
				margin: 0;
				// padding: 0 30px;
				position: relative;
				padding-left: 59px;

				border-left: 1px solid #dadfe2;
				border-right: 1px solid #dadfe2;

				&.logout-action {
					color: #9499a2;
				}


				&:before {
					content: '';
					position: absolute;
					top: 0;
					border-bottom: solid 1px #eaeff2;;
					left: 59px;

					width: 198px;

				}

				&:first-child {

					border-bottom-color: #fff;

					&:before {
						content: '';
						position: absolute;
						top: -6px;
						right: 87px;
						width: 0;
						height: 0;
						border-left: 8px solid transparent;
						border-right: 8px solid transparent;
						border-bottom: 8px solid;
						border-bottom-color: inherit;
						z-index: 22;
						left: auto;
					}

					&:after {
						content: '';
						position: absolute;
						top: -7px;
						right: 88px;
						width: 0;
						height: 0;
						border-left: 7px solid transparent;
						border-right: 7px solid transparent;
						border-bottom: 6px solid;
						border-bottom-color: #dadfe2;
						z-index: 21;
					}

					&:hover {
						border-bottom-color: #0091d5;

						&:after {
							// display: none;
							border-bottom-color: #0091d5;

						}
					}

					padding-top: 26px;
					border-radius: 5px 5px 0 0;
					border-top: 1px solid #dadfe2;

					.fa	{
						top: 44px;
					}
				}

				&:last-child {
					padding-bottom: 26px;
					border-radius: 0 0 5px 5px ;
					border-bottom: 1px solid #dadfe2;
				}

				.fa {
					color: #8a909a;
					font-size: 18px;
					position: absolute;
					left: 27px;
					top: 17px;
				}

				&:hover {

					background-color: #0091d5;
					color: #fff;
					border-color: #0091d5;

					&::before {
						border-bottom-color: #0091d5;
					}

					.fa {
						color: #fff;
					}
				}
			}
		}

		.fa	{
			color: #8a909a;
		}
	}

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.page-content {
	transition: all .3s;

	&::before {
		content: '';
		visibility: hidden;
	}
}


body.open-menu {
	overflow-x: hidden;
	.user-nav {
		.menu {
			visibility: visible;
			overflow: visible;
			opacity: 1;
			max-height: 600px;
			transition: $menu-transition;
		}
	}

	.page-content {

		@extend .blur;

		&::before {
			content: '';
			visibility: visible;
			bottom: 0;
			left: -100px;
		}

		transition: all .3s;
	}
}

#logo	{

	cursor: pointer;
	width: 51px;
	height: 51px;
	display: inline-block;

	i {
		transition: transform .2s;
		float: left;
		display: inline-block;
		width: $chunk-size;
		height: $chunk-size;
	}
}

#brand {
	text-decoration: none;
	font-family: $logo-font;

	.brand-text {

		position: relative;
		left: -2px;
		top: -6px;
		font-weight: 600;
		font-size: 21px;
		display: inline-block;
		letter-spacing: 2.7px;
		color: #10132f;

		img {
			position: relative;
			top: 2px;
			left: 1px;


			path {
				shape-rendering: optimizeQuality;
			}
		}

		svg {

			position: relative;
			top: 4px;
			width: 193px;
			left: 2px;

			path {
				shape-rendering: optimizeQuality;
			}
		}

		.slogan {

			font-weight: normal;
			font-size: 9px;
			display: block;
			letter-spacing: 0.85px;
			text-transform: uppercase;
			word-spacing: 1px;
			position: relative;
			top: 3px;
			color: #737478;

		}

		// image-rendering: auto;
	    // image-rendering: crisp-edges;
	    // image-rendering: pixelated;

	}

	&:hover #logo  {

		i {
			transition: transform .2s;
			&.i1 {
				transform: translate(-2px, -2px);
			}
			&.i2 {
				transform: translate(0, -2px);
			}
			&.i3 {
				transform: translate(2px, -2px);
			}

			&.i4 {
				transform: translate(-2px, 0);
			}

			&.i6 {
				transform: translate(2px, 0);
			}

			&.i7 {
				transform: translate(-2px, 2px);
			}
			&.i8 {
				transform: translate(0, 2px);
			}
			&.i9 {
				transform: translate(2px, 2px);
			}
		}
	}
}
