<div class="input">
	<input type="file">
	<ng-transclude></ng-transclude>
	<div ng-if="hasChilds" class="placeholder">
		{{placeholder}}

		<div class="icon">
			<img src="/icon/upload-small.png" alt="">
		</div>
	</div>
</div>
