
<div class="dots" ng-if="$slider.total > 1">
	<div class="dot" ng-repeat="n in [] | range:$slider.total" ng-class="{active: $slider.active === n}" ng-click="$slider.setActive(n)"></div>
</div>

<div class="arrow left-arrow" ng-if="$slider.total > 1" ng-click="$slider.prev()">
	<svg class="mb3" enable-background="new 0 0 36 70" height="70px" version="1.1" viewBox="0 0 36 70" width="36px" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
		<g display="none" id="Layer_2" style="display:none" transform="translate(0,6)">
			<rect display="inline" height="112" width="128" x="-7" y="-20" id="rect4243" style="display:inline;fill:#ffffff" />
		</g>
		<g id="Layer_1" transform="translate(0,2.999744)">
			<g id="g4246">
				<path class="transition-all" d="m 33.984522,66.973954 c -0.617,0 -1.227,-0.284 -1.618,-0.821 L 0.384,33.179 C -0.129,32.475 -0.128,31.52 0.387,30.818 L 32.385147,-2.1715788 c 0.654,-0.89 1.904,-1.084 2.796,-0.43 0.891,0.653 1.083,1.90499997 0.431,2.79499997 L 4.478,32.003 35.599522,63.794954 c 0.65,0.893 0.455,2.144 -0.438,2.795 -0.356,0.259 -0.769,0.384 -1.177,0.384 z" id="path4248"/>
			</g>
		</g>
	</svg>
</div>

<div class="arrow right-arrow" ng-if="$slider.total > 1" ng-click="$slider.next()">
	<svg class="mb3" enable-background="new 0 0 36 70" height="70px" version="1.1" viewBox="0 0 36 70" width="36px" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
		<g display="none" id="Layer_2">
			<rect display="inline" fill="#ffffff" height="112" width="128" x="-71" y="-20"></rect>
		</g>
		<g id="Layer_1">
			<g>
				<path class="transition-all" d="m 2.0141835,66.973954 c 0.617,0 1.227,-0.284 1.618,-0.821 L 35.614706,33.179 c 0.513,-0.704 0.512,-1.659 -0.003,-2.361 L 3.6135585,-2.1715788 c -0.654,-0.89 -1.904,-1.084 -2.79599996,-0.43 -0.891,0.653 -1.083,1.90499997 -0.431,2.79499997 L 31.520706,32.003 0.39918354,63.794954 c -0.65,0.893 -0.455,2.144 0.438,2.795 0.35599996,0.259 0.76899996,0.384 1.17699996,0.384 z"></path>
			</g>
		</g>
	</svg>
</div>

<div class="edit-slider" ng-if="user.can('open slider editor')">
	<div class="container">
		<div class="slide-button right" ng-click="openEditor()">
			<div class="label">Редактировать слайдер</div>
			<i class="fa fa-fw fa-edit"></i>
		</div>
	</div>
</div>
