<div class="background"></div>

<form action="/" class="modal-source" id="offer-teaser-form" name="offer-teaser" ng-controller="offerTeaserController" ng-submit="submit($event)">
	<a class="close" ng-click="close()" href="#"><span class="fa fa-times fa-fw"  aria-hidden="true"></span></a>
	<div class="content">

		<h1>Это предложение мне интересно</h1>

		<input  ng-class="{error: error.name }" name="name" type="text" placeholder="Имя">
		<div ng-if="error.name" class="message">
			<div ng-repeat="message in error.name">{{message}}</div>
		</div>

		<input  ng-class="{error: error.city }" name="city" type="text" placeholder="Город">
		<div ng-if="error.city" class="message">
			<div ng-repeat="message in error.city">{{message}}</div>
		</div>


		<input  ng-class="{error: error.company }" name="company" type="text" placeholder="Компания которую вы представляете">
		<div ng-if="error.company" class="message">
			<div ng-repeat="message in error.company">{{message}}</div>
		</div>

		<input  ng-class="{error: error.position }" name="position" type="text" placeholder="Должность">
		<div ng-if="error.position" class="message">
			<div ng-repeat="message in error.position">{{message}}</div>
		</div>

		<input  ng-class="{error: error.phone }" name="phone" type="text" placeholder="Телефон">
		<div ng-if="error.phone" class="message">
			<div ng-repeat="message in error.phone">{{message}}</div>
		</div>

		<input  ng-class="{error: error.email }" name="email" type="email" placeholder="Email">
		<div ng-if="error.email" class="message">
			<div ng-repeat="message in error.email">{{message}}</div>
		</div>

		<input  ng-class="{error: error.password }" name="password" type="text" placeholder="Пароль">
		<div ng-if="error.password" class="message">
			<div ng-repeat="message in error.password">{{message}}</div>
		</div>

	</div>
	<div class="footer">
		<div class="actions right">
			<button class="green inline" type="submit">Отправить</button>
		</div>
	</div>
</form>



<div class="modal-source" id="slider-editor" ng-controller="sliderEditorModal">
	<a class="close" ng-click="close()" href="#"><span class="fa fa-times fa-fw"  aria-hidden="true"></span></a>

	<div ng-if="mode === 'edit'">
		<div class="content flex">

			<h1 ng-if="!!slide.id">Редактирование слайда</h1>
			<h1 ng-if="!slide.id">Добавление слайда</h1>

			<div class="cover" dropzone="uploadConfig">
				<a    ng-if="slide.cover && slide.cover.length" href="#" class="delete" ng-click="deleteCover()"><i class="fa fa-times fa-fw"></i></a>
				<img  ng-if="slide.cover && slide.cover.length" ng-src="{{slide.cover}}" alt="" width="100%">
			</div>

			<br>

			<label for="field-cover">
				Фотография
			</label>
			<input type="text" name="cover" id="field-cover" ng-model="slide.cover" placeholder="Фотография">

			<label for="field-title">Заголовок</label>
			<input type="text" name="title" id="field-title" ng-model="slide.title" placeholder="Заголовок">

			<label for="field-description">Описание слайда</label>
			<textarea name="description" id="field-description" ng-model="slide.description" placeholder="Описание слайда"></textarea>

			<label for="field-weight">Порядок</label>
			<input type="number" name="weight" id="field-weight" ng-model="slide.weight" placeholder="Порядок">

			<label for="field-action">Действие</label>
			<select name="action" id="field-action" ng-model="slide.action" styled-input>
				<option value="link">Ссылка</option>
				<option value="modal">Модальное окно</option>
			</select>

			<label ng-if="slide.action === 'link'" for="field-argument">Ссылка</label>
			<input ng-if="slide.action === 'link'" type="text" name="argument" id="field-argument" ng-model="slide.action" >

		</div>

		<div class="footer">
			<div class="actions right">
				<a href="#" class="button inline text" ng-click="toList()">Отменить</a>
				<a href="#" class="button green inline" ng-click="saveSlide()">Сохранить</a>
			</div>
		</div>

	</div>


	<div ng-if="mode === 'list'">

		<div class="content"  dnd-sortable-list="sliderList">
			<h1>Редактирование слайдера</h1>
			<div class="flex-grid row" ng-repeat-start="slide in sliderList"
				dnd-sortable="slide"
				dnd-moved="sliderList.splice($index, 1)"
				dnd-effect-allowed="move"
				dnd-selected="models.selected = slide">

				<img ng-src="{{slide.cover}}" alt="" class="circled-cover">

				<div class="offset-side">
					<h3>{{slide.title}}</h3>
					{{slide.description}}
				</div>
				<div class="actions">
					<a ng-click="editSlide(slide)" class="button inline" href="#"><span class="fa fa-edit fa-fw"  aria-hidden="true"></span></a>
					<a ng-click="delete($index)" class="button inline" href="#"><span class="fa fa-times fa-fw"  aria-hidden="true"></span></a>
				</div>
			</div>
			<br ng-repeat-end />
		</div>


		<div class="footer">
			<a ng-click="createSlide()" class="left inline blue button" href="#"><i class="fa fa-plus fa-fw"></i> Добавить</a>

			<div class="actions right">
				<a href="#" class="button inline text" ng-click="close()">Отменить</a>
				<a href="#" class="button green inline" ng-click="saveSlider()">Сохранить</a>
			</div>
		</div>

	</div>

</div>


<div class="modal-source" id="subject-selector" ng-controller="subjectSelectorModal">
	<a class="close" ng-click="close()" href="#"><span class="fa fa-times fa-fw"  aria-hidden="true"></span></a>

	<div class="content">
		<h1>Выбор тематики</h1>

		<div class="catalog">

			<div class="section" ng-repeat-start="(category, categoryItems) in subjects">
				<div class="letter">{{category}}</div>
				<ul>
					<li ng-repeat="item in categoryItems"><label><input styled-checkbox type="checkbox" ng-model="item.selected">{{item.name}}</label></li>
				</ul>
			</div>
			<br ng-if="$index%2==1">
			<div ng-repeat-end></div>

		</div>

	</div>
	<div class="footer">
		<a href="#" class="button green inline right" ng-click="select()">Выбрать</a>
	</div>
</div>


<div class="modal-source" id="exposition-selector" ng-controller="expositionSelectorModal">
	<a class="close" ng-click="close()" href="#"><span class="fa fa-times fa-fw"  aria-hidden="true"></span></a>


	<div ng-if="mode === 'catalog'">
		<div class="content">
			<h1>К какой выставке относится данное предложение?</h1>
			<form action="">
				<input type="text" placeholder="Поиск выставки" ng-model="filter.exposition" id="expo-filter-input">
				<a href="#" ng-click="switchMode('filters')">Открыть фильтр</a>
			</form>
			<a href="#" class="button inline outline blue" >
				{{subject.name}}
				<span class="fa fa-times sup right pointer" ng-click="removeFilter(subject, 'subjects')"></span>
			</a>
			<a href="#" class="button inline outline blue" >
				{{subject.name}}
				<span class="fa fa-times sup right pointer" ng-click="removeFilter(subject, 'subjects')"></span>
			</a>
			<a href="#" class="button inline outline blue" >
				{{subject.name}}
				<span class="fa fa-times sup right pointer" ng-click="removeFilter(subject, 'subjects')"></span>
			</a>

		</div>
		<div class="color gray">
			<div class="content card-list masonry">


			</div>
		</div>
		<div class="footer">
			<a href="#" class="button green inline right" ng-click="select()">Выбрать</a>
		</div>
	</div>
	<div ng-if="mode === 'filters'">

		<div class="content">
			<h1>Фильтр мероприятий</h1>

			<form class="expo-filter-main">
				<select styled-checkbox ng-model="filter.conditions.all">
					<option>Все</option>
				</select>
				<select styled-checkbox ng-model="filter.conditions.regions">
					<option>Регион</option>
				</select>
				<select styled-checkbox ng-model="filter.conditions.month">
					<option>Месяц</option>
				</select>
				<select styled-checkbox ng-model="filter.conditions.year">
					<option>Год</option>
				</select>



			</form>
		</div>
		<div class="color gray">
			<div class="content catalog">

				<br><br>

				<h2 class="header">Выбор тематики</h2>

				<div class="section" ng-repeat-start="(category, categoryItems) in subjects">
					<div class="letter">{{category}}</div>
					<ul>
						<li ng-repeat="item in categoryItems"><label><input styled-checkbox type="checkbox" ng-model="item.selected">{{item.name}}</label></li>
					</ul>
				</div>
				<br ng-if="$index%2==1">
				<div ng-repeat-end></div>

			</div>
		</div>

		<div class="footer">
			<div class="right">
				<a href="#" class="button inline" ng-click="select()">Отмена</a>
				<a href="#" class="button inline" ng-click="select()">Сбросить</a>
				<a href="#" class="button blue inline" ng-click="select()">Применить</a>
			</div>
		</div>
	</div>
</div>
