<a href="#" ui-sref-active="active" ui-sref="home" id="brand">
	<span id="logo" class="color">
			<i class="i1"></i>
			<i class="i2 light"></i>
			<i class="i3 normal"></i>
			<i class="i4 light"></i>
			<i class="i5 normal"></i>
			<i class="i6 dark"></i>
			<i class="i7 normal"></i>
			<i class="i8 dark"></i>
			<i class="i9 dark"></i>
	</span>

	<span class="brand-text">
		<!-- EXPOTESTDRIVE -->
		<!-- <img src="/icon/expo-logo-full.svg" alt=""> -->
		<!-- <img src="/icon/logo/with-slogan.png" alt=""> -->
		<!-- <img src="/icon/logo/with-slogan-2x.png" alt=""> -->
		<img src="/icon/logo/original.png" alt="">
		<!-- <span class="slogan">сервис для тест-драйва выставок</span> -->
	</span>

	<!-- <img src="/logo_text@2x.png" width="194px" alt="EXOTESTDRIVE - сервис для тест-драйва выставок" class="brand-text"> -->
	<!-- <img src="/logo_text@2x.png" width="200px" alt="EXOTESTDRIVE - сервис для тест-драйва выставок" class="brand-text"> -->
</a>

<nav class="right" ng-if="!user.can('view navbar menu')">
	<a ui-sref="user-login" ui-sref-active="active" href="#">Войти</a>
	<a ui-sref="user-registration" ui-sref-active="active" href="#">Зарегистрироваться</a>
</nav>

<nav ng-if="user.can('view navbar menu')" class="right user-nav">

	{{ user.displayName }}

	<div class="notification-counter" ng-class="{ insistent: user.notificationsCount }">
		{{ !user.notificationsCount ? '?' : user.notificationsCount }}
	</div>

	<div class="menu">
		<a ui-sref="user-account" href="#"><i class="fa fa-user fa-fw"></i> Личный кабинет</a>
		<a ui-sref="user-events" href="#"><i class="fa fa-tag fa-fw"></i> Мои мероприятия</a>
		<a ui-sref="user-offers" href="#"><i class="fa fa-file-text fa-fw"></i> Предложения на тест-драйве</a>
		<a ui-sref="user-cart" href="#"><i class="fa fa-briefcase fa-fw"></i> Мои заказы</a>
		<a class="logout-action" ui-sref="user-logout" href="#"> Выйти</a>
	</div>

</nav>

<nav ng-if="user.can('view navbar menu')" class="right">
	<a ui-sref="offer-catalog" ui-sref-active="active" href="#">Предложения</a>
	<a ui-sref="user-events" ui-sref-active="active" href="#">Мероприятия</a>
</nav>
