@import './styles/variables';
@import './styles/layout';
@import './styles/blueprint';
@import './styles/tag';
@import './styles/inputs';
@import './styles/expo-slider.scss';
@import './styles/container.scss';
@import './styles/color';
@import './styles/topbar';
@import './styles/buttons';
@import './styles/cards';
@import './styles/modals';
@import './styles/forms';
@import './styles/masonry-layout';
@import './styles/filters';
@import './styles/flex-grid';
@import './styles/tabs';
@import './styles/info-page';

.circled-cover {

	max-width: 50px;
	max-height: 50px;
	width: auto;
	height: auto;
	border-radius: 100%;

}
