<form class="card center" ng-submit="setMail($event)" name="change-password">

<div class="offset">
	<div class="field text-center bigger">
		Есть аккаунт? <a href="#" ui-sref="user-login" >Войти</a>
	</div>
</div>

<div class="separator"></div>

<div class="offset">

	<h1>Восстановление доступа</h1>
	<div class="field">
		Введите новый пароль для входа на сайт
	</div>
	<br>
	<input ng-class="{error: error.password}" type="password" placeholder="Пароль" name="password">
	<div ng-if="error.password" class="message">
		<div ng-repeat="message in error.password">{{message}}</div>
	</div>
	<input ng-class="{error: error.repeat}" type="password" placeholder="Пароль еще раз" name="repeat">
	<div ng-if="error.repeat" class="message">
		<div ng-repeat="message in error.repeat">{{message}}</div>
	</div>

	<br>

	<button class="primary" type="submit">Сбросить пароль</button>

	<br>
</div>

</form>
