<div class="container">
	<div class="card">
		<div class="offset">
			<h1>DEBUG PAGE</h1>
			<div class="expo-tabs" active-tab="0">
				<div class="tab" title="Пользователи">
					<select
						placeholder="Выбрать пользователя"
						ng-model="selectedUser"
						ng-change="changeUser()"
						styled-input
						name="selectedUser"
						ng-options="idx as user.displayName + ' ' + user.role for (idx, user) in users">
					</select>

					<div class="field">
						{{ user.displayName }}
					</div>

					<label>Количество сообщений у пользователя
						<input type="number" ng-model="user.notificationsCount">
					</label>

					<label>Id пользователя
						<input type="text" ng-model="user.id">
					</label>

				</div>

				<div class="tab active" title="Стили"></div>
			</div>
		</div>








	</div>
</div>
