<form autocomplete="false" ng-submit="submit($event)" action="/" name="create-offer" method="POST" id="create-offer-form" class="event-page" enctype="multipart/form-data">

	<div class="container">

		<div class="header">
			<h1 ng-if="!offer.id">Добавить мероприятие</h1>
			<h1 ng-if="offer.id">Редактировать мероприятие</h1>
			<div class="additional">Статус карточки</div>
		</div>

		<input type="text" ng-class="{error: error.title}" placeholder="Название выставки" name="title" letter-counter="60">
		<field-error error="error.title"></field-error>

		<div class="field four column">
			<div class="field">
				<select name="type" styled-input class="normal-select" placeholder="Тип мероприятия">
					<option ng-repeat="label in types" ng-value="{{$index}}" >{{label}}</option>
				</select>
				<field-error error="error.type"></field-error>
			</div>
			<datetime-field class="field" name="startDate" placeholder="Дата начала">
				<field-error error="error.startDate"></field-error>
			</datetime-field>
			<datetime-field class="field" name="endDate" placeholder="Дата окончания">
				<field-error error="error.endDate"></field-error>
			</datetime-field>
			<div class="field">
				<input type="text" name="place" placeholder="Выберите регион" place-autocomplete>
				<field-error error="error.place"></field-error>
			</div>
		</div>

		<div class="page-columns"><div class="left">

			<div class="field">
				<dropzone-field name="cover" multiple="true" id="field-cover">
					<div class="placeholder">
						<img src="/icon/upload.png" alt="">
						<br>
						Загрузить изображение
					</div>
				</dropzone-field>
				<field-error error="error.place"></field-error>
			</div>

		</div><div class="right">

				<input type="number" name="visitors" placeholder="> Количество посетителей">
				<field-error error="error.visitors"></field-error>

				<input type="number" name="participants" placeholder="Количество участников">
				<field-error error="error.participants"></field-error>

				<input type="text" name="cost" placeholder="Стоимость тестирования" id="field-cost">
				<field-error error="error.cost"></field-error>

				<label for="field-interested">Минимальное количество заинтересованных посетителей</label>
				<input type="number" name="interested" id="field-interested" placeholder="0 человек">
				<field-error error="error.interested"></field-error>

				<div class="field additional-fields-list">
					<label for="field-additional">Дополнительная информация</label>
					<input
						type="text"
						class="additional-field"
						id="field-additional"
						name="additional_{{$scope.additionalFields.length}}"
						placeholder="Дополнительное поле"
						ng-model="currentAdditionalValue"
					>
					<a href="#" ng-click="addField()" class="button blue inline">+</a>
					<field-error error="error['additional_'{{$scope.additionalFields.length}}]"></field-error>

					<div ng-repeat="field in additionalFields">
						<input type="text" class="additional-field" ng-model="field.value" name="additional_{{field.idx + 1}}" placeholder="Дополнительное поле">
						<a href="#" ng-click="removeField(field.idx)" class="button blue inline">-</a>
					</div>

				</div>
		</div></div>

		<div class="page-columns second_area"><div class="left">

			<textarea name="description"  letter-counter="135" id="description-field" cols="30" rows="10"
				placeholder="Краткое описание Вашей выставки. Сформулируйте какие компании принимают участие в Вашей выставке и на какую аудиторию посетителей она рассчитана."
			></textarea>

			<div class="field">
				<a href="#" ng-click="openSubjectsSelector()" class="button subject blue inline">Выбрать тематики</a>
				<a href="#" class="button inline outline subject blue" ng-repeat="subject in subjects">
					{{ subject.name }}
					<span class="fa fa-times sup right pointer" ng-click="removeSubject($index)"></span>
				</a>
			</div>

		</div><div class="right">
			<dropzone-field multiplie accept="image/jpeg,image/png" name="logo" id="field-logo" placeholder="Загрузить логотип"></dropzone-field>
			<input type="text" placeholder="Организатор мероприятия" name="organizer_title">
			<input type="url" placeholder="Сайт мероприятия" name="organizer_website">
		</div></div>

		<div class="expo-tabs">
			<div class="head">
				<a href="#">Изменить</a>
				<a href="#">Удалить</a>
			</div>
			<div class="tab" title="Об аудитории">
				<input type="text" ng-model="data.test" name="" value="">
				<textarea field-editor name="about_audiences" ng-model="data.test" id="about_audiences_field" cols="30" rows="10"></textarea>
			</div>
			<div class="tab" title="Презентация">
				<dropzone-field></dropzone-field>
			</div>
			<div class="tab" title="Сгенерировать письмо"></div>
		</div>

		<br clear="all">
		<br clear="all">
		<br clear="all">

		<button class="inline green" type="submit" name="button">Сохранить</button>

	</div>


</form>
