<form action="/" name="create-offer" id="create-offer-form" class="event-page">

	<div class="container">
		<div class="header">
			<h1 ng-if="!offer.id">Добавить предложение</h1>
			<h1 ng-if="offer.id">Редактировать предложение</h1>

			<div class="additional">
				Статус карточки
			</div>
			<div class="expo-tabs right">
				<div class="head"><a href="#">Шаг 1</a><a href="#">Шаг 2</a></div>
			</div>
		</div>

		<input type="text" ng-class="{error: error.name}" placeholder="Заголовок предложения" name="title">
		<field-error error="error.name"></field-error>

		<div class="field place">
			<i class="fa fa-map-marker fa-fw"></i>
			{{ offer.place }}
			<!-- <i ng-if="!offer.place">Место проведения отображается после выбора выставки</i> -->
			г. УФА
		</div>




	</div>



</form>
