
<expo-slider ng-controller="sliderController">
	<div class="slide" ng-repeat="slide in sliderList">
		<div class="content">
			<h1>{{ slide.title }}</h1>
			<p>{{ slide.description }}</p>
			<a href="#" ng-click="go(slide.destination)" class="green button inline">Подключить выставку на тест-драйв</a>
		</div>
		<img ng-src="{{ slide.cover }}" ng-alt="{{ slide.title }}">
	</div>
</expo-slider>

<ng-include src="catalog"></ng-include>
