<form class="card center" ng-submit="submit($event)" name="login-form">
	<div class="offset">
		<h1>Вход</h1>
		<input type="text" name="login" ng-class="{error: error.login.length }" placeholder="Введите номер телефона или email">
		<field-error error="error.login"></field-error>

		<input type="password" name="password" ng-class="{error: error.password }" placeholder="Введите пароль">
		<field-error error="error.password"></field-error>

		<div class="field">
			<a href="#" ui-sref="user-recovery" >Забыли пароль?</a>
		</div>
		<button class="primary" type="submit">Войти</button>
		<div class="separator">
			<div class="label">или</div>
		</div>

		<div class="two-buttons">
			<a class="fb button" social-login="facebook" href="#">
				<i class="fa fa-facebook fa-fw"></i>
			</a><a class="vk button" social-login="vkontakte" href="#">
				<i class="fa fa-vk fa-fw"></i>
			</a>
		</div>

	</div>
	<div class="separator"></div>
	<div class="offset">
		<div class="field bigger text-center">
			Нет аккаунта? <a href="#" ui-sref="user-registration" >Регистрация</a>
		</div>
	</div>
</form>
