<article class="event-page">
	<div class="region"><div class="container">

			<h1>{{offer.name}}</h1>

			<div class="info">
				<address><i class="fa fa-fw fa-map-marker"></i> {{offer.exposition.location.name}}</address>
				<i class="fa fa-clock-o fa-fw"></i> Действует до: <time datetime="14.03.2017">14.03.2017</time>
				<strong>Опубликовано</strong>
			</div>

			<div class="page-columns"><div class="left">

				<div class="cover"><img ng-src="http://expotestdrive.ru:3000/img/uploads/{{ offer.photo.filename }}" ng-alt="{{ offer.name }}"></div>
				<div class="description">{{ offer.description }}</div>
				<div class="directions" ng-if="offer.themes.length">
					Направления: <a href="#" class="button outline inline" ng-repeat="theme in offer.themes">{{ theme.name }}</a>
				</div>

			</div><div class="right details">

				<div class="icons">
					<span><img src="/icon/users.png" alt=""> &gt; {{offer.viewed}}</span>
					<div class="label">интересовались</div>

					<span>&nbsp;<img src="/icon/user.png" alt="">&nbsp;{{offer.audienceCount}}</span>
					<div class="label">приняли решение</div>
				</div>

				<a href="#" class="button green" ng-click="replay($event, offer)">
					<img src="/icon/icon6.png" alt="">
					<span class="label">{{offer.prompt | capitalize}}</span>
				</a>

				<div class="exposition" ng-if="offer.exposition.displayName">
					<div class="label">Только для посетителей:</div>
					<strong>{{offer.exposition.displayName}}</strong>
				</div>

				<div class="conditions" ng-if="offer.exposition.additionals.length">
					<div class="label">Дополнительные условия:</div>
					<div class="condition" ng-repeat="condition in offer.exposition.additionals" class="condition">{{condition}};</div>
				</div>

			</div></div>
	</div></div>

	<div class="region white"><div class="container">

		<div class="page-columns"><div class="left">

			<div class="expo-tabs">
			<div class="head">
				<a href="#" ng-if="user.can('change offer', offer)" ng-click="edit()">Изменить</a>
				<a href="#" ng-if="user.can('delete offer', offer)" ng-click="delete()">Удалить</a>
			</div>
			<div class="tab" title="Опиcание">


			</div>
			<div class="tab" title="Презентация">
				<iframe src="//www.slideshare.net/slideshow/embed_code/key/F89jlIlQM4HT1q" width="100%" height="515" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
			</div>
			</div>

		</div><div class="right creator">
			<strong>{{offer.creator.company}}</strong>
			<br>
			<img ng-src="{{offer.creator.avatar}}" alt="">

			Компания

		</div></div>
	</div></div>
	<div class="region"><div class="container">
			<div class="page-columns">
				<div class="left"></div>
				<div class="right"></div>
			</div>
	</div></div>
	<div class="region white"><div class="container">
		<div class="page-columns"><div class="left">

		</div><div class="right">

		</div></div>
	</div></div>
</article>
