
<div class="container" ng-controller="offersCatalog">

	<div id="testdrive-filters" class="card">
		<div class="mini-offset">
			<div>Фильтр предложений</div>
			<br>
			<a href="#" class="button inline green" ng-click="selectExpositions()">По выставкам</a>
			<a href="#" class="button inline outline green" ng-repeat="exposition in filter.expositions">
				{{exposition.name}}
				<span class="fa fa-times sup right pointer" ng-click="removeFilter(exposition, 'expositions')"></span>
			</a>

			<a href="#" class="button inline blue" ng-click="selectSubjects()">Выбрать тематики</a>
			<a href="#" class="button inline outline blue" ng-repeat="subject in filter.subjects">
				{{subject.name}}
				<span class="fa fa-times sup right pointer" ng-click="removeFilter(subject, 'subjects')"></span>
			</a>
		</div>
	</div>

	<div class="card-list masonry-layout">

		<div id="create-testdrive" class="card">
			<div class="offset">
				<img src="/icon/create-testdrive.png" alt="">
				<a href="" class="button inline blue">Создать предложение</a>
			</div>
		</div>

		<div class="card" ng-repeat="offer in catalog">
			<div class="cover" ui-sref="offer-index({id: offer._id})">
				<img ng-if="offer.photo" ng-src="http://expotestdrive.ru:3000/img/uploads/{{offer.photo.filename}}" alt="" class="cover">
				<div class="slide-button" ng-click="replay($event, offer)">
					<img src="/icon/icon6.png" alt="">
					<span class="label">{{offer.prompt}}</span>
				</div>
			</div>
			<div class="offset-card">
				<h2 class="title"  ui-sref="offer-index({id: offer._id})">{{offer.name}}</h2>
				<div class="exhibition-title">Выставка: <strong>{{offer.exposition.displayName}}</strong></div>
				<p class="content">{{offer.description}}</p>

				<div class="icons">
					<span><img src="/icon/users.png" alt=""> &gt; {{offer.viewed}}</span>
					<span><img src="/icon/user.png" alt="">{{offer.audienceCount}}</span>
				</div>

			</div>
		</div>
	</div>

	<br>
	<br>

	<div class="text-center" ng-if="!flow">
		<a href="#" class="button blue text inline" ng-click="startFlow()">Загрузить еще</a>
	</div>

</div>
