<form class="card center" ng-submit="setMail($event)" name="recovery">

	<div ng-if="!email">
		<div class="offset">
			<div class="field text-center bigger">
				Есть аккаунт? <a href="#" ui-sref="user-login" >Войти</a>
			</div>
		</div>
		<div class="separator"></div>
		<div class="offset">

			<h1>Восстановление доступа</h1>
			<div class="field">
				Введите адрес электронной почты, который был указан при регистрации.
			</div>
			<br>

			<input type="email" placeholder="Email" name="email" ng-class="{error: error.email}" >
			<field-error error="error.email"></field-error>

			<br>
			<br>
			<br>
			<br>

			<button class="primary" type="submit">Сбросить пароль</button>
			<br>
		</div>
	</div>
	<div ng-if="email" class="offset">
		<h1>Восстановление доступа</h1>

		<p>
			На электронную почту <strong>{{ email }}</strong> отправлено письмо. Перейдите по
			ссылке в письме, чтобы задать новый пароль от Вашей учетной записи.
		</p>

		<p>
			Если Вы не увидите письма, обязательно проверьте папку СПАМ.
		</p>

		<br>
		<br>

		<a class="button primary" href="#" ui-sref="home">Вернуться на главную</a>
	</div>
</form>
