<form class="card center" id="registration-form" name="user-registration" ng-submit="submit($event)">
	<div class="offset">
		<div class="field text-center bigger">
			Есть аккаунт? <a href="#" ui-sref="user-login" >Войти</a>
		</div>
	</div>
	<div class="separator"></div>
	<div class="offset">
		<h1>Регистрация</h1>

		<div class="field">
			<a ng-class="{active: form['user-registration'].type === 'company'}" class="button select inline" ng-click="select('company')" href="#">
				Компания
			</a>
			<a ng-class="{active: form['user-registration'].type !== 'company'}" class="button select inline" ng-click="select('organizer')" href="#">
				Организатор выставки
			</a>
			<a href="#" class="help"><i class="fa fa-question-circle"></i></a>
			<input type="hidden" name="type">
		</div>

		<input  ng-class="{error: error.full_name }" name="full_name" type="text" placeholder="Фамилия Имя Отчество">
		<field-error error="error.full_name"></field-error>


		<input  ng-class="{error: error.email.length }" type="email" name="email" placeholder="Email">
		<field-error error="error.email"></field-error>


		<input  ng-class="{error: error.phone.length }" type="text"  name="phone" placeholder="Номер телефона">
		<field-error error="error.phone"></field-error>
		
		<input ng-if="form['user-registration'].type === 'company'"  ng-class="{error: error.company_name }"  name="company_name" type="text" placeholder="Компания">
		<field-error ng-if="form['user-registration'].type === 'company'" error="error.company_name"></field-error>


		<!--
		<input ng-if="data.type === 'company'"  ng-class="{error: error.logo.length }" dropzone type="file" placeholder="Загрузить логотип">
		<div ng-if="error.logo.length && data.type === 'company'" class="message">
			<div ng-repeat="message in error.logo">{{message}}</div>
		</div> -->

		<input  ng-class="{error: error.password }"  name="password" type="password" placeholder="Пароль">
		<field-error error="error.password"></field-error>

		<input  ng-class="{error: error.repeat }"  name="repeat" type="password" placeholder="Пароль еще раз">
		<field-error error="error.repeat"></field-error>


		<div class="field" ng-class="{error: error.captcha }">
			<input  ng-class="{error: error.captcha }" type="text" class="half"  name="captcha" placeholder="Код с картинки">
			<img class="captcha" ng-src="/common/captcha?seed={{randomSeed}}" src="/common/captcha" ng-click="changeCaptcha()" alt="">
			<a href="#" ng-click="changeCaptcha()" class="circle-button">
				<i class="fa fa-refresh"></i>
			</a>
			<field-error error="error.captcha"></field-error>
		</div>
		<br>
		<div class="checkbox">
			<input type="checkbox" ng-model="data.subscribe" name="subscribe" id="field-subscribe" styled-checkbox class="styled-checkbox">
			<label for="field-subscribe">Я хочу получать информационные сообщения от ExpoTestDrive</label>
		</div>
		<br>

		<button class="primary" type="submit">Регистрация</button>

		<div class="field">
			Регистрируясь, я подтверждаю свое согласие с условиями <a href="#" ui-sref="content-agreement">лицензионного соглашения</a>
		</div>

		<div class="separator">
			<div class="label">или</div>
		</div>
		<div class="two-buttons">
			<a class="fb button" social-login="facebook" href="#">
				<i class="fa fa-facebook fa-fw"></i>
			</a><a class="vk button" social-login="vkontakte" href="#">
				<i class="fa fa-vk fa-fw"></i>
			</a>
		</div>

	</div>

</form>
